<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @login1.Email %>
</p>

<p>
  <strong>Companyname:</strong>
  <%= @login1.CompanyName %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @login1.Phone %>
</p>

<p>
  <strong>Escalationlevel:</strong>
  <%= @login1.EscalationLevel %>
</p>

<%= link_to 'Edit', edit_login1_path(@login1) %> |
<%= link_to 'Back', login1s_path %>
